################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/com.stevencodeswright/.vs/com.stevencodeswright/v16
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal/bin/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal/obj/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal.Android/bin/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal.Android/obj/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal.iOS/bin/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal.iOS/obj/**
/com.stevencodeswright/XamarinHelper.Core/bin/**
/com.stevencodeswright/XamarinHelper.Core/obj/**
/com.stevencodeswright/.vs/**
/com.stevencodeswright\DiabetesFoodJournal\DiabetesFoodJournal.Android/DiabetesFoodJournal.Android.csproj.user
/com.stevencodeswright/DiabetesFoodJournal.Data/bin/Debug/netstandard2.0
/com.stevencodeswright/DiabetesFoodJournal.Data/obj/Debug/netstandard2.0
/com.stevencodeswright/DiabetesFoodJournal.Data/obj
/com.stevencodeswright/DiabetesFoodJournal.Entities/bin/Debug/netstandard2.0
/com.stevencodeswright/DiabetesFoodJournal.Entities/obj/Debug/netstandard2.0
/com.stevencodeswright/DiabetesFoodJournal.Entities/obj
/com.stevencodeswright/DiabetesFoodJournal.UnitTests/obj
/com.stevencodeswright/DiabetesFoodJournal.UnitTests/bin/Debug/netcoreapp3.1
/com.stevencodeswright/DiabetesFoodJournal.Data.Server/obj/Debug
/com.stevencodeswright/DiabetesFoodJournal.Data.Server/App.config
/com.stevencodeswright/DiabetesFoodJournal.Entities.4_5_2/obj/Debug
/com.stevencodeswright/DiabetesFoodJournal.Data.Server/bin/Debug
/com.stevencodeswright/DiabetesFoodJournal.Entities.4_5_2/bin/Debug
/com.stevencodeswright/FJA_Pool.Data/bin
/com.stevencodeswright/FJA_Pool.Data/obj
/com.stevencodeswright/FJA_Pool.Data/App.config
/com.stevencodeswright/FJA_Pool.Entities/bin
/com.stevencodeswright/FJA_Pool.Entities/obj
/com.stevencodeswright/Services/WebApi/bin
/com.stevencodeswright/Services/WebApi/obj
*.user
/com.stevencodeswright/Services/WebApi/Properties/PublishProfiles/Prod.pubxml
/com.stevencodeswright/Services/WebApi/Web.config
/com.stevencodeswright/Services/WebApi/Web.Debug.config
/com.stevencodeswright/Services/WebApi/Web.Release.config
/com.stevencodeswright/DiabetesFoodJournal.Data.Server/bin/Release
/com.stevencodeswright/DiabetesFoodJournal.Data.Server/obj/Release
/com.stevencodeswright/DiabetesFoodJournal.Entities.4_5_2/bin/Release
/com.stevencodeswright/DiabetesFoodJournal.Entities.4_5_2/obj/Release
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Data/obj
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Data/bin/Debug/netcoreapp3.1
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Models/obj
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Services/bin/Debug/netcoreapp3.1
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Services/obj
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Services/appsettings.json
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Entities/bin/Debug/netcoreapp3.1
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Entities/obj
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Models/bin/Debug/netstandard2.0
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Data/bin/Release/netcoreapp3.1
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Entities/bin/Release/netcoreapp3.1
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Models/bin/Release/netstandard2.0
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Services/bin/Release/netcoreapp3.1
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Services/Properties/PublishProfiles
/com.stevencodeswright/TypeOneFoodJournal/TypeOneFoodJournal.Services/.config
