################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/com.stevencodeswright/.vs/com.stevencodeswright/v16
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal/bin/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal/obj/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal.Android/bin/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal.Android/obj/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal.iOS/bin/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal.iOS/obj/**
/com.stevencodeswright/XamarinHelper.Core/bin/**
/com.stevencodeswright/XamarinHelper.Core/obj/**
/com.stevencodeswright/.vs/**
/com.stevencodeswright\DiabetesFoodJournal\DiabetesFoodJournal.Android/DiabetesFoodJournal.Android.csproj.user