################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/com.stevencodeswright/.vs/com.stevencodeswright/v16
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal/bin/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal/obj/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal.Android/bin/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal.Android/obj/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal.iOS/bin/**
/com.stevencodeswright/DiabetesFoodJournal/DiabetesFoodJournal.iOS/obj/**
/com.stevencodeswright/XamarinHelper.Core/bin/**
/com.stevencodeswright/XamarinHelper.Core/obj/**
/com.stevencodeswright/.vs/**
/com.stevencodeswright\DiabetesFoodJournal\DiabetesFoodJournal.Android/DiabetesFoodJournal.Android.csproj.user
/com.stevencodeswright/DiabetesFoodJournal.Data/bin/Debug/netstandard2.0
/com.stevencodeswright/DiabetesFoodJournal.Data/obj/Debug/netstandard2.0
/com.stevencodeswright/DiabetesFoodJournal.Data/obj
/com.stevencodeswright/DiabetesFoodJournal.Entities/bin/Debug/netstandard2.0
/com.stevencodeswright/DiabetesFoodJournal.Entities/obj/Debug/netstandard2.0
/com.stevencodeswright/DiabetesFoodJournal.Entities/obj
/com.stevencodeswright/DiabetesFoodJournal.UnitTests/obj
/com.stevencodeswright/DiabetesFoodJournal.UnitTests/bin/Debug/netcoreapp3.1
/com.stevencodeswright/DiabetesFoodJournal.Data.Server/obj/Debug
/com.stevencodeswright/DiabetesFoodJournal.Data.Server/App.config
/com.stevencodeswright/DiabetesFoodJournal.Entities.4_5_2/obj/Debug
/com.stevencodeswright/DiabetesFoodJournal.Data.Server/bin/Debug
/com.stevencodeswright/DiabetesFoodJournal.Entities.4_5_2/bin/Debug
