@using PlayoffPool.MVC.Areas.Admin.Models
@using PlayoffPool.MVC.Areas.Admin.ViewModels

@model UserViewModel

@{
    Layout = "ModalLayout";
}

@if (this.Model.UserModel != null)
{
    <partial name="EditForm" model="@this.Model.UserModel" />
}
else
{
    <span>User not found</span>
}

@section ModalFooter
{
    <button class="btn pp-button pp-button-secondary" type="reset">Cancel</button>
    <button class="btn btn-primary pp-button" data-form-id="@string.Format("userForm-{0}", this.Model.UserModel.Id)" type="submit">Save</button>
}