@model UsersModel

<div class="section section-admin">
    <h6>Manage Users</h6>
    @for (int i = 0; i < this.Model.Users.Count(); i++)
    {
        <partial name="ViewSummary" model="@this.Model.Users[i]" />
    }
</div>