@using PlayoffPool.MVC.Areas.Admin.Models

@model UserModel

<div class="row pp-bracket-summary">
    <span class="col">
        <span class="pp-label">Name</span>
        <span class="pp-label-value">@this.Model.FullName</span>
    </span>
    <span class="col">
        <span class="pp-label">Email</span>
        <span class="pp-label-value">@this.Model.Email</span>
    </span>
    <span class="col-auto">
        <span><a class="btn pp-button pp-button-secondary" href=@string.Format("/Admin/User/Edit/{0}", this.Model.Id)>Update</a></span>
    </span>
</div>