@model SeasonModel

<h2>@this.Model.Year</h2>

<row>
    <form action="Edit">
        <input type="hidden" name="id" value="@this.Model.Id" />

        @for (int i = 0; i < this.Model.Rounds.Count(); i++)
        {
            <label asp-for="@this.Model.Rounds[i].Number" />
            <input asp-for="@this.Model.Rounds[i].Number" />
        }

        <input type="submit" value="Edit" />
    </form>
</row>