@model SeasonModel

<div class="d-flex flex-column gap-5">
    <div class="row">
        <div class="col">
            <h2>@this.Model.Year</h2>
        </div>

        <div class="col-auto">
            @if (this.Model.CutoffDateTime.HasValue)
            {
                <span>Start Date: @this.Model.CutoffDateTime</span>
            }
            else
            {
                <span>Starting date not set!</span>
            }
            <button type="button" class="btn pp-button pp-button-secondary modal-button" data-url="/Admin/Playoff/Edit/@this.Model.PlayoffId">Update Start Time</button>
        </div>
    </div>

    <partial name="Rounds" />
    <partial name="Teams" />
</div>