@model TeamModel

<div class="row pp-bracket-summary">
    <span class="col">
        <span class="pp-label">Name</span>
        <span class="pp-label-value">@this.Model.Name</span>
    </span>

    <span class="col">
        <span class="pp-label">Abbreviation</span>
        <span class="pp-label-value">@this.Model.Abbreviation</span>
    </span>

    <span class="col-auto">
        <a class="btn pp-button pp-button-secondary" href="#">Update</a>
    </span>
</div>