@inherits TestBase
@page "/test"

<style>
</style>

<div class="container">
    <div class="row">
        <div class="col">
            <SelectTeam HomeTeam=@AfcSeedTwo AwayTeam=@AfcSeedOne />
        </div>

        <div class="col" />
        <div class="col" />
        <div class="col" />
        <div class="col" />
        <div class="col" />

        <div class="col">
            <SelectTeam HomeTeam=@AfcSeedFour AwayTeam=@AfcSeedThree />
        </div>
    </div>

    <div class="row">
        <div class="col" />
        <div class="col">
            <SelectTeam HomeTeam=@AfcSeedFive AwayTeam=@AfcSeedOne />
        </div>
        <div class="col" />
        <div class="col" />
        <div class="col" />

        <div class="col">
            <SelectTeam HomeTeam=@AfcSeedSix AwayTeam=@AfcSeedThree />
        </div>
        <div class="col" />
    </div>

    <div class="row">
        <div class="col" />
        <div class="col" />
        <div class="col">
            <SelectTeam HomeTeam=@TeamSeven AwayTeam=@AfcSeedOne />
        </div>
        <div class="col">
            <SelectTeam HomeTeam=@TeamSeven AwayTeam=@AfcSeedSix />
        </div>
        <div class="col">
            <SelectTeam HomeTeam=@AfcSeedSix AwayTeam=@TeamEight />
        </div>
        <div class="col" />
        <div class="col" />
    </div>



    <div class="row">
        <div class="col" />
        <div class="col">
            <SelectTeam HomeTeam=@AfcSeedFive AwayTeam=@AfcSeedOne />
        </div>
        <div class="col" />
        <div class="col" />
        <div class="col" />

        <div class="col">
            <SelectTeam HomeTeam=@AfcSeedSix AwayTeam=@AfcSeedThree />
        </div>
        <div class="col" />
    </div>


    <div class="row">
        <div class="col">
            <SelectTeam HomeTeam=@AfcSeedTwo AwayTeam=@AfcSeedOne />
        </div>

        <div class="col" />
        <div class="col" />
        <div class="col" />
        <div class="col" />
        <div class="col" />

        <div class="col">
            <SelectTeam HomeTeam=@AfcSeedFour AwayTeam=@AfcSeedThree />
        </div>
    </div>
</div>
