@model AdminViewModel

@{
    Layout = "_AdminLayout";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Admin</li>
    </ol>
</nav>

<a href="Admin/Users">Manage Users</a>
