@model ManageRolesViewModel

<div class="section section-admin">
    <h6>Manage Roles</h6>
    <form asp-action="UpdateRoles">
        @for (int i=0; i<this.Model.Roles.Count(); i++)
        {
            <partial name="RoleForm" model="this.Model.Roles[i]"/>
        }

        <span class="button-group">
            <button class="btn button-primary" type="submit">Submit</button>
            <button class="btn button-secondary" type="reset">Reset</button>
        </span>
    </form>
</div>
