@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" href="Admin/Seasons/Create">Create New Season</a>
    </div>
</div>

<div class="row">
    <a class="card" href="#">2022</a>
</div>