@model ManageUsersViewModel

@{
    Layout = "_AdminLayout";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../Admin">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Users</li>
    </ol>
</nav>

<div class="section section-admin">
    <h6>Manage Users</h6>
    @for (int i = 0; i < this.Model.Users.Count(); i++)
    {
        <partial name="UserSummary" model="@this.Model.Users[i]" />
    }
</div>