@using PlayoffPool.MVC.Controllers;
@model PlayoffPool.MVC.Models.LoginViewModel;

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="pp-card">
        <form asp-action="@nameof(AccountController.Login)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="pp-card-title font-effect-shadow-multiple">
                <span>Let's get ready for some football!</span>
            </div>
            <div class="container pp-card-content">
                <div class="form-group pp-form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group pp-form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary pp-button pp-button-login">Login</button>
            </div>

        </form>

        <p>
            Not Registered? <a class="nav-link pp-nav pp-button pp-button-secondary" asp-area="" asp-controller="Account" asp-action="Register">Click Here to Register</a>
        </p>
    </div>
</div>

