@model AdminModel

<div class="row">
    <a class="card" href="Admin/User">Manage Users</a>
    <a class="card" href="Admin/Team">Manage Teams</a>
    <a class="card" href="Admin/Season">Manage Seasons</a>
</div>