@using AmerPlayoffPool_blazor.Models;

<style>
    .matchup {
        /*display: flex;
        flex-direction: column;*/
        border: 1px solid black;
        /*padding: 10px;*/
        border-radius: 5px;
        width: 100%;
        margin: 0px;
        /*text-align: start;*/
    }

    hr.new1 {
        border-top: 1px solid black;
    }
</style>

<div class="matchup container">
    <div class="row" style="background-color: @AwayTeam.PrimaryColor">
        <strong>@AwayTeam.Name</strong>
    </div>
    
    <div class="row" style="background-color: @HomeTeam.PrimaryColor">
        <strong>@HomeTeam.Name</strong>
    </div>
</div>

@code {
    [Parameter]
    public Team HomeTeam { get; set; }

    [Parameter]
    public Team AwayTeam { get; set; }

    public string MinWidth { get; set; }
}
