@using AmerPlayoffPool_blazor.Models;

<style>
    .matchup {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        margin: 10px;
    }

        .matchup span {
            text-align: center;
        }

        .matchup strong {
            text-align: center;
        }
</style>

<div class="matchup">
    <strong>@HomeTeam.Name</strong>
    <span>VS</span>
    <strong>@AwayTeam</strong>
</div>

@code {
    [Parameter]
    public Team HomeTeam { get; set; }

    [Parameter]
    public string AwayTeam { get; set; }

    public string MinWidth { get; set; }
}
